.loginForm {
   border-radius: 16px;
   background-color: #dfe3e613;
   backdrop-filter: blur(20px);
   box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.6);
   -webkit-box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.6);
   -moz-box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.6);
}
